{% load static %}
<section class="page-section" id="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="mt-0">Colette et Rémy</h2>
                <hr class="divider light my-4" />
                <p class="mb-4 text-left">Nous sommes une jeune startup fondée par Remy et Colette Tatou, deux
                    restaurateurs de renom. <br>
                    Notre restaurant, situé à Montmartre (Paris), compte une cinquantaine de couverts et ne désemplit
                    pas.    <br>
                    Notre spécialité, la ratatouille, nous attire une clientèle internationale charmée par les délices
                    de ce plat typique. </p>
            </div>
        </div>

        <div class="row justify-content-center  text-white">
            <div class="col-md">
                <div class="row justify-content-center text-center">
                    <h3>Colette</h3>
                </div>
                <div class="row justify-content-center">
                    <img class="img-fluid rounded" src="{% static 'images/colette.png' %}" alt="Colette">
                </div>
            </div>
            <div class="col-md">
                <div class="row justify-content-center text-center">
                    <h3>Rémy</h3>
                </div>
                <div class="row justify-content-center">
                    <img class="img-fluid rounded" src="{% static 'images/remy.png' %}" alt="Rémy">
                </div>
            </div>
        </div>
    </div>

</section>