{% extends 'pages/_base.html' %}
{% load static %}

{% block title %}Pur Beurre - {{ product.product_name_fr }} {% endblock title %}

{% block content %}

<section class="page-section bg-primary" id="legal">
    <div class="container">
        <div class="row justify-content-center text-white m-4">
            <h2>Mentions Légales</h2>
        </div>
        <div class="row justify-content-center text-white m-3">
            <div class="col-lg-6 text-right">
                <h4>Données produits :</h4>
            </div>
            <div class="col-lg-6 text-left">
                <h4><a href="http://en.wiki.openfoodfacts.org/Project:API" target ="_blank">Open Food Facts</a></h4>
            </div>
        </div>
        <div class="row justify-content-center text-white m-3">
            <div class="col-lg-6 text-right">
                <h4>Hébergement :</h4>
            </div>
            <div class="col-lg-6 text-left">
                <h4><a href="http://en.wiki.openfoodfacts.org/Project:API" target ="_blank">Open Food Facts</a></h4>
            </div>
        </div>
        <div class="row justify-content-center text-white m-3">
            <div class="col-lg-6 text-right">
                <h4>Template Bootstrap :</h4>
            </div>
            <div class="col-lg-6 text-left">
                <h4><a href="http://en.wiki.openfoodfacts.org/Project:API" target ="_blank">Open Food Facts</a></h4>
            </div>
        </div>
        <div class="row justify-content-center text-white m-3">
            <div class="col-lg-6 text-right">
                <h4>Photos fond :</h4>
            </div>
            <div class="col-lg-6 text-left">
                <h4><a href="http://en.wiki.openfoodfacts.org/Project:API" target ="_blank">Open Food Facts</a></h4>
            </div>
        </div>
        <div class="row justify-content-center text-white m-3">
            <div class="col-lg-6 text-right">
                <h4>Carotte :</h4>
            </div>
            <div class="col-lg-6 text-left">
                <h4><a href="http://en.wiki.openfoodfacts.org/Project:API" target ="_blank">Open Food Facts</a></h4>
            </div>
        </div>
        <div class="row justify-content-center text-white m-3">
            <div class="col-lg-6 text-right">
                <h4>Icone Pur Beurre :</h4>
            </div>
            <div class="col-lg-6 text-left">
                <h4><a href="http://en.wiki.openfoodfacts.org/Project:API" target ="_blank">Open Food Facts</a></h4>
            </div>
        </div>
    </div>
</section>

{% endblock %}