{% extends 'pages/_base.html' %}
{% load static %}

{% block title %}Pur Beurre - {{ product_select }} {% endblock title %}

{% block content %}


<section class="page-section bg-primary">
    <div class="container">
        {% if products %}


        <div class="row pb-2">
            <h4 class="text-white">Voici les résultats pour <strong>{{ search }} </strong></h4>
        </div>
        <div class="row">
            {% for product in products %}

            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="item">
                        <a href="{% url 'substitutes' product.slug %}">

                            <img class="card-img-top rounded img-substitute mx-auto" alt="{{ product }}"
                                src="{{ product.display_image }}" data-holder-rendered="true">
                            <div class="badge badge-pill notify-badge">{{ product.nutriscore_grade }}</div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ product }}</h5>
                        <p class="card-text">{{ product.generic_name_fr }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <small class="text-muted">{{ product.categories.first }}</small>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}
            {% if is_paginated %}
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                    <a class="text-white" href="?search={{search}}&page=1">&laquo; première</a>
                    <a class="text-white" href="?search={{search}}&page={{ page_obj.previous_page_number }}">précédent</a>
                    {% endif %}

                    <span class="current text-white">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                    <a class="text-white" href="?search={{search}}&page={{ page_obj.next_page_number }}">suivant</a>
                    <a class="text-white" href="?search={{search}}&page={{ page_obj.paginator.num_pages }}">dernière &raquo;</a>
                    {% endif %}
                </span>
            </div>
            {% endif %}
        </div>




        {% else %}

        <div class="alert alert-danger" role="alert">
            <h3 class="alert-heading">Aucun produit !!!</h3>
            <p>Aucun produit n'a été trouvé.</p>
            <p>Relancez la recherche.</p>
            <hr>
            <p class="mb-0">Vous pouvez faire la recherche par nom de produit, catégorie ou marque.</p>
        </div>

        {% endif %}
    </div>
</section>

{% endblock %}