.img-product {
    max-height: 300px;
}

.img-substitute {
    max-height: 200px;
    height: auto;
    width: auto;
    display: block;
}

.small-image {
    max-height: 70px;
    width: auto;
    max-width: 100px;
}

.item {
    position: relative;
    padding-top: 20px;
    display: inline-block;
}

.notify-badge {
    position: absolute;
    right: -20px;
    top: 10px;
    background: linear-gradient(60deg, green, rgb(255, 136, 0));
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color: white;
    padding: 5px 10px;
    font-size: 30px;
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#about {
    background-color: #86EBE6;
    color: #345A61;
}

#legal {
    background-color:#E8A75D;
    color: #345A61;
}