{% extends 'pages/_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Log In{% endblock title %}

{% block content %}

<section class="page-section bg-primary" id="login">
    <div class="container h-80 ">
        <div class="row h-80">
            <div class="col-lg-8">
                <h2>Connexion</h2>
                <form class="form-horizontal" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-success" type="submit">Connexion</button>
                    <a class="btn btn-success" href="{{request.META.HTTP_REFERER}}">Retour</a>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}