{% extends 'pages/_base.html' %}
{% load static %}

{% block title %}Pur Beurre - {{ product.product_name_fr }} {% endblock title %}

{% block content %}

<section class="page-section" id="legal">
    <div class="container">
        <div class="row justify-content-center m-4">
            <h2>Mentions Légales</h2>
        </div>
        <div class="row justify-content-center m-3">
            <div class="col-lg-6 text-right">
                <h4>Données produits :</h4>
            </div>
            <div class="col-lg-6 text-left">
                <h4><a href="http://en.wiki.openfoodfacts.org/Project:API" target="_blank">Open Food Facts</a></h4>
            </div>
        </div>
        <div class="row justify-content-center m-3">
            <div class="col-lg-6 text-right">
                <h4>Hébergement :</h4>
            </div>
            <div class="col-lg-6 text-left">
                <h4><a href="https://www.heroku.com/" target="_blank">Heroku</a></h4>
            </div>
        </div>
        <div class="row justify-content-center m-3">
            <div class="col-lg-6 text-right">
                <h4>Template Bootstrap :</h4>
            </div>
            <div class="col-lg-6 text-left">
                <h4><a href="https://startbootstrap.com/themes/creative/" target="_blank">Start Bootstrap</a></h4>
            </div>
        </div>
        <div class="row justify-content-center m-3">
            <div class="col-lg-6 text-right">
                <h4>Photo fond :</h4>
            </div>
            <div class="col-lg-6 text-left">
                <h4><a href="https://unsplash.com/photos/k60JspcBwKE" target="_blank">Ubon Ratchathani, Thailand</a>
                </h4>
            </div>
        </div>
        <div class="row justify-content-center m-3">
            <div class="col-lg-6 text-right">
                <h4>La carotte :</h4>
            </div>
            <div class="col-lg-6 text-left">
                <h4><a href="https://thenounproject.com/term/carrot/29691/" target="_blank">Fabien Jouin (the noun
                        project)</a></h4>
            </div>
        </div>
    </div>
</section>

<!-- About-->
{% include "pages/about.html" %}

{% endblock %}