{% extends 'pages/_base.html' %}
{% load static %}

{% block title %}Pur Beurre - {{ product.product_name_fr }} {% endblock title %}

{% block content %}

<header class="masthead product-detail">
    <div class="container">
        <div class="row">

            <img class="img-fluid rounded mx-auto d-block img-product" src="{{ product.display_image }}"
                alt="{{ product.product_name_fr }}">
        </div>
        <div class="row align-items-center justify-content-center text-center">
            <h3 class="text-white">{{ product.product_name_fr }} ({{ product.categories.first }})</h3>
        </div>
        <div class="row align-items-center justify-content-center text-center">
            <p class="text-white">{{ product.generic_name_fr }}</p>
        </div>

        <div class="row justify-content-center">
            {% if user.is_authenticated %}
            {% if product in user.product_set.all %}
            <a href="{% url 'admin_favorite' product.id_product 'del' %}"
                class="btn btn-sm btn-outline-primary" id="del-fav">Retirer</a>
            {% else %}
            <a href="{% url 'admin_favorite' product.id_product 'add' %}"
                class="btn btn-sm btn-outline-primary" id="add-fav">Sauvegarder</a>
            {% endif %}
            {% endif %}
        </div>
        <div class="row">
            <div class="col-7">
                {% with "images/nutriscore-"|add:product.nutriscore_grade|lower|add:".svg" as url_score %}
                <a href="https://fr.openfoodfacts.org/nutriscore" target="_blank">
                    <img class="img-fluid rounded mx-auto d-block product-img" src="{% static url_score %}"
                        alt="{{ product.nutriscore_grade }}">
                </a>
                {% endwith %}
            </div>
            <div class="col-5">
                <p class="text-white font-weight-bold">{{ product.fat_100g|floatformat:2 }}g Matières grasses / Lipides
                </p>
                <p class="text-white font-weight-bold">{{ product.satured_fat_100g|floatformat:2 }}g Acides gras saturés
                </p>
                <p class="text-white font-weight-bold">{{ product.sugars_100g|floatformat:2 }}g Sucres</p>
                <p class="text-white font-weight-bold">{{ product.salt_100g|floatformat:2 }}g Sel </p>
            </div>
        </div>
        <div class="row h-80 align-items-center justify-content-center text-center">
            <a href="{{ product.url_openfood }}" class="btn btn-primary" target='_blank'>Openfoodfacts</a>
        </div>

    </div>
</header>

<!-- About-->
{% include "pages/about.html" %}

{% endblock content %}